

<div id="collectionpage">
  {% paginate collection.products by 50 %}

  <div class="collection-description" style="margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid {{ settings.dotted_color }}">
    <h1>{{ collection.title }}</h1>
    {{ collection.description }}   
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $(".collection-description img").addClass("scale-with-grid"); 
      });
    </script>
  </div>

  {% if paginate.pages > 1 %}
  <div id="paginate-bar" class="row">
    <span class="left">
    </span>
    <div id="pagination">
      {% if paginate.previous %}  {{ 'prev' | link_to: paginate.previous.url }} | {% endif %} Page {{ paginate.current_page }} of {{ paginate.pages }} {% if paginate.next %} | {{ 'Next' | link_to: paginate.next.url }}{% endif %}
    </div>
  </div>
  {% endif %}
  <div class="clear"></div>


  <div id="collection-sidebar" class="four columns alpha">
    <a class="sidebar-menu-button" id="dropdown" href="#" title="Click This Button">Menu</a>
    <div class="dropdownwrap">
      {% include 'sort-menu' %}
      {% include 'filter-menu' %}
      {% comment %}
          <h4>{{ settings.collection-linklist-1-title }}</h4>
          <div class="sidenav">
            <ul>
              {% for link in linklists.[settings.collection-side-1].links %}
              <li>{{ link.title | link_to: link.url }}</li>
              {% endfor %}
            </ul>
          </div>
          {% include 'sidesort' %}
      {% endcomment %}
    </div>
  </div>

  <script>
    $(document).ready(function(e){
      $('#dropdown').on('click',function(){
        $('.dropdownwrap').slideToggle();
      });

    })
  </script>


  <ul id="two-column-collectionlist" class="twelve columns omega"> 
    {% for product in collection.products %}
    {% include 'saw_compute_discount' with product %}
    {% include 'buyx-price-min' with product %}

    <li class="product-index collectionitem four columns{% cycle ' alpha', '', ' omega' %}" data-alpha="{{product.title}}" data-price="{{product.price}}">     

      <div class="product-index-inner">
        <div class="two-column-collection-image">
          {% if buyx_price_min < product.compare_at_price and saw_discount == 1  %}<div class="sale"></div>{% endif %}
          {% if buyx_product_available %}{% else %}<div class="gone"></div>{% endif %}

          <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
            <div class="reveal">
              <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
              {% if product.images.size > 1 %}
              <div class="hidden">
                <img src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" />
              </div>
              {% endif %}
            </div>
          </a> 

        </div>

        <div class="collection-products">
          <h2>
            <a href="{{ product.url | within: collection }}">{{ product.title | truncate: 70 }}<br />
              {% if saw_discount == 1 %}
              <!-- original prices here -->
              <span class="money">{{ buyx_price_min | money }}</span>
              {% if buyx_price_min < product.compare_at_price %} was <span class="red">{{ product.compare_at_price | money }}</span>{% endif %}
              {% else %}
              <span class="money">{{ saw_product_price | money }}</span>
              was <span class="red">{{ saw_product_compare_at_price | money }}</span>
              {% endif %}            
            </a>
          </h2>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="clear"></div>

  <div id="pagination" class="sixteen columns">

    <span class="count">Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}.</span>

    {% if paginate.previous %}
    {{ '<' | link_to: paginate.previous.url }}
    {% endif %}
    {% for part in paginate.parts %}
    {% if part.is_link %}
    {{ part.title | link_to: part.url }}
    {% else %}
    {% if part.title == '&hellip;' %}
    {{ part.title }}
    {% else %}
    <span class="current">{{ part.title }}</span>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if paginate.next %}
    {{ '>' | link_to: paginate.next.url }}
    {% endif %}
  </div>
  {% endpaginate %}
</div>



