
<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->
<div id="collectionpage">
  {% paginate collection.products by 15 %}

  <div class="collection-description">
    <h1>{{ collection.title }}</h1>
    {{ collection.description }}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $(".collection-description img").addClass("scale-with-grid"); 
      });
    </script>
  </div>

  {% if paginate.pages > 1 %}
  <div id="paginate-bar" style="display:none" class="row">
    <span class="left">
    </span>
    <div id="pagination">
      {% if paginate.previous %}  {{ 'prev' | link_to: paginate.previous.url }} | {% endif %} Page {{ paginate.current_page }} of {{ paginate.pages }} {% if paginate.next %} | {{ 'Next' | link_to: paginate.next.url }}{% endif %}
    </div>
  </div>
  {% endif %}

  <div class="clear"></div>

  <div id="sorting-hat" class="row">
    {% include 'sort' %}
  </div>

  <div id="menu-decal" class="two columns">

    {% include 'menu-decal' %}

  </div>

  <ul id="decal-gallery" class = "thirteen columns three-column-collectionlist"> 
    {% for product in collection.products %}
    {% include 'saw_compute_discount' with product %}
    {% include 'buyx-price-min' with product %}

    <!-- Bold Duplicate And Hide -->{% if product.metafields.inventory.ShappifyHidden == "true" %}{% continue %}{% endif %}
    <li class="product-index decal-item collectionitem one-third column" data-alpha="{{product.title}}" data-price="{{product.price}}">  
      <div class="product-index-inner">
      <div class="three-column-collection-image">

        {% if buyx_price_min < product.compare_at_price and saw_discount == 1  %}<div class="sale"></div>{% endif %}
        {% if buyx_product_available %}{% else %}<div class="gone"></div>{% endif %}

    <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
      <div class="reveal">
        <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
        {% if product.images.size > 1 %}
        <div class="hidden">
          <img src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" />
        </div>
        {% endif %}
      </div>
    </a>   


        <div class="collection-products">
          <h2>
            <a href="{{ product.url | within: collection }}">{{ product.title | truncate: 70 }}<br />
              {% if saw_discount == 1 %}
              <!-- original prices here -->
              <span class="money">{{ buyx_price_min | money }}</span>
              {% if buyx_price_min < product.compare_at_price %} was <span class="red">{{ product.compare_at_price | money }}</span>{% endif %}
              {% else %}
              <span class="money">{{ saw_product_price | money }}</span>
              was <span class="red">{{ saw_product_compare_at_price | money }}</span>
              {% endif %}            
            </a>
          </h2>
        </div>
      </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="clear"></div>

  <div id="pagination" class="pagination-bottom sixteen columns">

    <div class="count-container">
      <span class="count">Showing items {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}.</span>
    </div>
    <div class="clear"></div>
    <div class="pagination-buttons">
      {% if paginate.previous %}
      {{ '<' | link_to: paginate.previous.url }}
      {% endif %}
      {% for part in paginate.parts %}
      {% if part.is_link %}
      {{ part.title | link_to: part.url }}
      {% else %}
      {% if part.title == '&hellip;' %}
      {{ part.title }}
      {% else %}
      <span class="current">{{ part.title }}</span>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if paginate.next %}
      {{ '>' | link_to: paginate.next.url }}
      {% endif %}
    </div>
  </div>
  {% endpaginate %}
</div>






